h1 {
    color: rgb(88, 61, 71);
    text-align: center;
    padding: 10px;
    font-size: 1cm;
    font-weight: lighter;
    letter-spacing: 3px;
    font-family: monospace;
    }
    
    header{
        border-style: double;
        border-color: rgb(238, 118, 202);
        border-width: 3px;
        background-color:rgb(185, 176, 176);
        text-align: center;
        position: sticky;
        top: 0;

    }

    nav ul li a{
        font-family: cursive;
        text-decoration: none;
        color: rgb(73, 51, 68);
        font-weight: lighter;
        letter-spacing: 3px;  
    }

    nav ul li a:hover{
        color: rgb(111, 111, 247);
    }
    nav ul li{
        display: inline-block;
        padding: 5px 20px ;
    }

    h2.welcome {
        text-align: center;
        font-size: 35px;
        padding: 90px;
        text-shadow: none;
        font-family: monospace;
        font-weight: lighter;
        color: rgb(73, 51, 68);
        text-indent: 0px;
    }
    
    h2{ font-family: monospace;
        padding-top: 50px;
        text-indent: 30px;
        font-size: 27px;
        font-weight: lighter;
        letter-spacing: 3px;
        padding: 20px 5px;
        text-shadow: 2px 3px rgb(255, 255, 255);
        margin-top: 10px;
    }

    .intro {
        font-size: 21px;
        color: rgb(92, 87, 87);
        text-align: center;
        letter-spacing: 1px;
        word-spacing: 4px;
        padding: 75px 20px;
    }
    .border{
        border-style: double;
        border-color: rgb(238, 118, 202);
        border-width: 3px;
    }
   
    body {
        
        background-image: url(https://thumbs.dreamstime.com/b/floral-outline-spring-seamless-pattern-vect…c-backgrounds-wallpaper-covers-coloring-pages-floral-outline-112783866.jpg);
        
    }

    p.goals {
        text-indent: 20px;
        font-family: monospace;
        font-size: 15px;
    }


    footer p {
        text-align: center;
        font-size: 20px;
        color: rgb(214, 205, 208);
        padding: 10px;
    }

    footer {
        background-color:rgb(71, 68, 68);
        border-style: double;
        border-color: rgb(238, 118, 202);
        border-width: 3px;
    }
    .box {
        margin: 20px 40px;
        background: rgba(167, 147, 161, 0.158);
        padding: 10px 20px;
        width: fit-content;
        list-style-type: square;
        line-height: 30px;
        font-family: monospace;
        font-size: 15px;
    }
    
